a,
u {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.canvas {
}

.test {
  color: goldenrod;
  background-color: #1b242f;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.text--white {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
}

.text--black {
  font-family: "Raleway", sans-serif;
  color: #444649!;
}

.splash__text {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
  text-align: center;
  font-size: 3rem;
}

.splash__text--padding {
  padding-bottom: 30px;
}

.splash__text__span--pink {
  color: rgb(211, 91, 11);
}

block {
  display: block;
}

.splash__button {
  align-content: center;
  justify-content: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  margin: auto;
  text-align: center;
  width: 230px;
  line-height: 70px;
  height: 70px;
  color: aliceblue;
  cursor: pointer;
  border: 2px solid aliceblue;
}

.splash__button__text {
  font-size: 16px;
}
.splash__button__arrow {
  padding-left: 8px;
}

.splash__button:hover {
  transition: 1.2s;
  background-color: rgb(211, 91, 11);
}

.splash__button:hover #arrow {
  transition: 1s;
  transform: rotate(90deg);
}

.navbar {
  height: 60px;
  z-index: 100;
  position: sticky;
  top: 0px;
  list-style-type: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  overflow: hidden;
  background-color: #1b242f;
}

.navbar__ul {
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar__item {
  list-style-type: none;
  float: left;
}

.navbar__item__anchor {
  color: aliceblue;
  font-size: 18px;
  display: block;
  text-align: center;
  padding-right: 14px;
  text-decoration: none;
}

.navbar__item__anchor:hover {
  transition: color 0.5s;
  color: goldenrod;
}

/* .navbar__icons {
  height: 100px;
} */

.navbar__section__icon-Box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90%;
  width: 100%;
}

.navbar__section__icon-Box > div {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 60px;
}

.navbar__gitlab__icon {
  height: 80px;
}

.navbar__github__icon {
  height: 40px;
  padding: 5px;
  padding-left: 20px;
}

.navbar__linkedin__icon {
  height: 40px;
  padding-top: 8px;
  padding-left: 30px;
}

.icon__anchor {
  height: 100%;
}

.about {
  flex-flow: column;
  justify-content: center;
  opacity: 0;
  display: flex;
  align-content: center;
  height: 1000px;
}

.about__box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.about__header {
  padding-top: 15%;
  align-content: center;
  height: 60px;
  font-size: 30pt;
  text-align: center;
  font-weight: bold;
}

.header__underline {
  background-color: #444649;
  color: #1b242f;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}
.about__container {
  padding: 80px 8% 3%;
  grid-template-areas:
    "a b c d"
    "e e f f";
  display: grid;
  height: 100%;
  grid-gap: 5%;
}

.about__container__item1 {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item--a {
  grid-area: a;
}

.item--b {
  grid-area: b;
}

.item--c {
  grid-area: c;
}

.item--d {
  grid-area: d;
}

.item--e {
  grid-area: e;
}

.item--f {
  grid-area: f;
}

.about__octagon__image {
  height: 100px;
}

.octagon__box {
  display: flex;
  height: 100%;
  background-image: url("./images/hexagon-xxl.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.octagon__box__image {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}

.about__container_item1__title {
  text-align: center;
  margin: auto;
  padding: 2px;
}

.about__container_item1__text {
  text-align: center;
  margin: auto;
  color: aliceblue;
}

.text__h3--black {
  font-size: 18pt;
  font-family: "Raleway-bold";
}

.mypic {
  height: 70%;
  width: 50%;
  border-radius: 50%;
}

.about__container_bio__title {
  text-align: center;
  margin: auto;
  padding: 2px;
}
.about__container_bio__paragraph {
  padding-top: 2%;
}

.projects {
  background-color: beige;
  height: 100vh;
}

.projects__container {
  height: 50%;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "h i"
    "j k";
}

.item--h {
  height: 100%;
  grid-area: h;
  background-image: url(./images/memoryMatch.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item--i {
  height: 100%;
  grid-area: i;
  background-image: url(./images/blog.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item--j {
  height: 100%;
  grid-area: j;
  background-image: url(./images/fate.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item--k {
  height: 100%;
  grid-area: k;
  background-image: url(./images/project-seed.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.project__image {
  height: 100%;
}
